*.o
*.so
*.a
*.dat
*.data
.*.d
*.orig
*.rej
.pc
*~
*.pyc
*.swp
\#*\#
tags
TAGS
cscope*
params*.txt
params.h
params.c
build/
.cproject
.project
.settings/
libs/one-wire/*
libs/pio-usb/*
libs/pio-sdk/*
*workspace
.vscode/

