[submodule "libs/pio-usb"]
	path = libs/pio-usb
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB
[submodule "libs/one-wire"]
	path = libs/one-wire
	url = https://github.com/adamboardman/pico-onewire
[submodule "libs/pico-sdk"]
	path = libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "libs/littlefs-lib"]
	path = libs/littlefs-lib
	url = https://github.com/tzstoyanov/pico-littlefs
